@font-face {
    font-family: 'Tekno-One';
    src: url(fonts/Tekno-One.ttf);
}

body {
    background-color: black;
    color: #CCCCCC;
    font-family: 'Tekno-One', Georgia, 'Roboto';
    font-size : 1rem;
    margin: 3rem
}

.title {
    margin-top: 0 rem;
    margin-bottom: 0 rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    

}

.headings {
    margin: 0 auto;
}

.headings > img {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.h_line {
    border-bottom: 0.1rem solid #CCCCCC;
    width: 100rem;
    margin: auto;
}

main {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 90%;
    margin: 0 auto;
   <  border: 0.1rem solid #CCCCCC; >
}

h4 {
    font-family: 'Tekno-One', Georgia, 'Roboto';
    font-size: 0.7rem;
}

.release {
    margin: 0 auto;
    width: 50%;
}

.content {
    font-family: 'Georgia', 'Roboto';
    font-size: 1.1rem;
    padding: 1rem;
    margin: 1rem;
    margin-left: 0rem;
}

.audio {
    padding: 0.5rem;
    margin: 1rem;
    background-color: #c5bcbc;
    }

.form {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 0.1rem solid #CCCCCC;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
  }
  .form-row > label {
    padding: .5rem 1rem .5rem 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: 1em;
  }
  .form-row > button {
   background: #CCCCCC;
   color: black;
   border: 5;
  }

.downloads {
    margin: 1rem
}

.links {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;

}
.rate:not(:checked) > label {
    margin-left: 0.3rem;
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:1.5rem;
    color:#CCCCCC;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #2c2b29;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #2c2b29;   
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #2c2b29;   
}

a:visited {
    color:#CCCCCC
}

a:hover {
    color: #977227;
}

footer {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    font-size: 0.8rem;
}

.form {
    display: table;
}

.form > li {
    display: table-row;
}

.form > li > label, .form > li > input {
    display: table-cell;
}

@media  (max-width: 600px) {
    .downloads {
        display: none;
    }
    
    .release {
        width: 100%;
    }

    .title {
        flex-direction: column;
    }

    .h_line {
        width: 60vw;
    }

    .title > h1 {
        font-size: 1rem;
    }

    footer {
        display: none;
    }
}
